@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #FFF;
  --color-background-hover: #F2F2F2;
  --color-secondary-background: #F2F2F2;
  --color-foreground: #000;
  --color-secondary-foreground: #666;
  --color-tertiary-foreground: #8F8F8F;
  --color-border: #00000014;
  --color-secondary-border: #EAEAEA;

  --color-main: #0074DE;
}

.dark {
  --color-background: #000;
  --color-background-hover: #FFFFFF14;
  --color-secondary-background: #0A0A0A;
  --color-foreground: #EDEDED;
  --color-secondary-foreground: #888;
  --color-tertiary-foreground: #A1A1A1;
  --color-border: #FFFFFF24;
  --color-secondary-border: #FFFFFF14;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}
